<template>
  <div id="contact">
      <blockquote class="blockquote">
          If you have any questions, ideas, need a hand with a project, or you're looking for a web dev for your team: let me know!
      </blockquote>
      <p></p>
      <p>Twitter: <a href="https://twitter.com/DiagonalJS">@DiagonalJS</a></p>
      <p>Business Email: <a href="mailto:diagonalj117@gmail.com">diagonalj117@gmail.com</a></p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>