<template>
  <div v-if="!$vuetify.theme.dark">
    <img class="NuxtLogo" alt="Nuxt Logo" src="/nuxt.svg" />
  </div>
  <div v-else>
    <img class="NuxtLogo" alt="Nuxt Logo" src="/nuxt-white.svg" />
  </div>
</template>

<style>
.NuxtLogo {
  height: 180px;
  width: 180px;
}
</style>
