<template>
  <img
    class="VueLogo"
    alt="Vue Logo"
    src="/Vue_logo.svg"
  >
</template>

<style>
.VueLogo {
  height: 180px;
  width: 180px;
  transform: rotateY(560deg);
  animation: turn 3.5s ease-out forwards 1s;
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>
