<template>
<v-container>

  <v-card class="text-center">
      <v-card-title class="justify-center">Welcome!</v-card-title>
      <v-card-text class="body-1">
          <p>I'm a Front and BackEnd Web Developer able to plan, design, develop, deploy, maintain Websites and Web
Applications.</p>

<p>I'm seeking to use FrontEnd and BackEnd dev knowledge to contribute to a team
of developers and launch software into production using best practices.</p>

<p>However, I'm also looking forward to learning more about the industry.</p>
      </v-card-text>
  </v-card>
</v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>