<template>
  <div id="education">
    <v-container>
      <h1>Education</h1>
        <v-timeline>
        <v-timeline-item v-for="(item, i) in edus"
        :key="i" :color="item.color" right>
        <span slot="opposite">
          <strong>{{item.period}}</strong>
          <p>{{item.major}}</p>
        </span>
          <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4 ${item.titleColor}--text`">{{item.college}}</h2>
          </div>
        </v-timeline-item>
      </v-timeline>

    </v-container>
  </div>
</template>

<script>
import jsonData from '../resume/resumeData.js'
export default {
    data() {
        return{
          edus: jsonData.edus
        }
    }
}
</script>

<style>

.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
}
</style>