<template>
  <div id="expMobile">
    <v-container>
      <h1>Education</h1>
      <v-timeline dense>
        <v-timeline-item v-for="(item, i) in edus"
        :key="i" :color="item.color" right>
        <div class="py-4">
            <h2 :class="`headline font-weight-light mb-4 ${item.titleColor}--text`">{{item.college}}</h2>
                        <strong>{{item.period}}</strong>
          <p>{{item.major}}</p>
          </div>
        </v-timeline-item>
      </v-timeline>
    </v-container>
  </div>
</template>

<script>
import jsonData from '../resume/resumeData.js'
export default {
    data() {
        return{
          edus: jsonData.edus
        }
    }
}
</script>

<style>
.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
}
</style>