<template>
  <div id="expMobile">
    <v-container>
      <h1>Education</h1>
      <v-timeline dense>
        <v-timeline-item v-for="(item, i) in exps"
        :key="i" :color="item.color" right>
        <span slot="opposite">
          <strong>{{item.activeTime}}</strong>
          <p>{{item.position}}</p>
        </span>
        <v-card class="elevation-10">
          <v-card-title class="text-md-h3"><p class="text-wrap">{{item.company}}</p></v-card-title>
          <v-card-subtitle>
            <strong>{{item.activeTime}}</strong>
          <p>{{item.position}}</p>
          </v-card-subtitle>
          <v-card-text class="">
            <ul >
              <li v-for="(act, k) in item.activities" :key="k">
                {{act}}
              </li>
            </ul>
          </v-card-text>
        </v-card>
        </v-timeline-item>
      </v-timeline>
    </v-container>
  </div>
</template>

<script>
import jsonData from '../resume/resumeData.js'
export default {
  
 data() {
   return{
    exps: jsonData.exps
   }
 }
}
</script>

<style>
.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
}
</style>