<template>
  <v-container>
      <h1>Skills</h1>
      <v-switch v-model="toggleSkills" label="Show only top 3 skills">
      </v-switch>
      <v-row v-if="toggleSkills === false">
        <v-col  sm="6" xs="3" v-for="(item, i) in skills" :key="i">
            <v-list disabled>
                <v-subheader>{{item.title}}</v-subheader>
                <v-list-item v-for="(element, e) in item.elements" :key="e">
                    <v-list-item-content>
                        <v-list-item-title v-text="element"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col  sm="6" xs="3" v-for="(item, i) in promSkills" :key="i">
            <v-list disabled>
                <v-subheader>{{item.title}}</v-subheader>
                <v-list-item v-for="(element, e) in item.elements" :key="e">
                    <v-list-item-content>
                        <v-list-item-title v-text="element"></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
import jsonData from '../resume/resumeData.js'
export default {
    data(){
        
        console.log("aaaaa")
        console.log(jsonData.skills)
        return {
            toggleSkills: false,
            skills:jsonData.skills,
            promSkills: jsonData.promSkills
        }
    }
}
</script>

<style>

</style>