<template>
  <v-app dark>
    <v-navigation-drawer
        color="primary"
      v-model="drawer"
      :right="!right"
      fixed
      app
    >
          <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            {{title}}
          </v-list-item-title>
          <v-list-item-subtitle>
            Nav Menu
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          :disabled="item.disabled"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block @click="$vuetify.theme.dark=!$vuetify.theme.dark"> Switch to {{$vuetify.theme.dark ? 'Light Mode' : 'Dark Mode'}}</v-btn>
        </div>
        <div class="pa-2">
          <v-btn disabled block>Language Toggle (WIP)</v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      color="primary"
      collapse-on-scroll
      fixed
      app
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        icon
        @click.native="right = !right"
      >
        <v-icon>mdi-repeat</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />

    </v-app-bar>
    <v-main>
        <nuxt />
    </v-main>
    <v-footer
    color="accent"
      absolute
      app
      inset
      padless
    >
        <v-row
      justify="center"
      no-gutters
    >
      <v-btn
        v-for="(link, i) in links"
        :key="i"
        :href="link.url"
        color="white"
        text
        rounded
        class="my-2"
      >
        {{ link.text }}
      </v-btn>
      <v-col
        class="accent py-4 text-center white--text"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>DiagonalJS</strong>
      </v-col>
    </v-row>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-file-account',
          title:'Resume',
          to: '/resume'
        },

        {
          icon: 'mdi-handshake',
          title:'Services',
          to:'/services',
          disabled: true
        },
        {
          icon: 'mdi-code-brackets',
          title:'All the things they said',
          to:'/atts',
          disabled: true
        },
        {
          icon: 'mdi-information',
          title:'About',
          to:'/about'
        },
      ],
      links: [
        {
          text: 'Twitter',
          url: 'https://twitter.com/DiagonalJS'
        },
        {
          text: 'Email',
          url: 'mailto:diagonalj117@gmail.com'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'DiagonalJS'
    }
  }
}
</script>
<style>

.v-application {
   font-family: 'Segoe UI', sans-serif !important;
 }
 .v-button {
   font-weight: 300;
 }
</style>
