<template>
    <v-container fluid>
      <v-row >
        
        <v-col cols="12" align="center" justify="center">
            <h1>Frameworks Used</h1>
          <v-row align="center" justify="center"  >
            <v-card  class="ma-3 pa-6" outlined tile>
              <v-card-title>
                <VueLogo/>
              </v-card-title>
              Vue.js
            </v-card>
            <v-card  class="ma-3 pa-6" outlined tile>
              <v-card-title>
                <NuxtLogo/>
              </v-card-title>
              Nuxt.js
            </v-card>
            <v-card  class="ma-3 pa-6" outlined tile>
              <v-card-title>
                <VuetifyLogo/>
              </v-card-title>
              Vuetify
            </v-card>
          </v-row>
        </v-col>

        <v-col cols="12" align="center" justify="center">
             <h1>Very proudly hosted at</h1>
          <v-row align="center" justify="center"  >
             
            <v-card  class="ma-3 pa-6" outlined tile>
              <v-card-title>
                  <NetlifyLogo/>
              </v-card-title>
              Netlify
            </v-card>
          </v-row>
        </v-col>
        
      </v-row>
    </v-container>

</template>


<script>
import NetlifyLogo from '~/components/NetlifyLogo';
import VueToNuxtLogo from '~/components/Logo';
import VuetifyLogo from '~/components/VuetifyLogo'
import NuxtLogo from '~/components/NuxtLogo'
import VueLogo from '~/components/VueLogo'
export default {

}
</script>

<style>

</style>