<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
    <v-container align="center">

    <v-row align="center">
      <v-col>
      <div class="text-center">
        <intro/>
      </div>

      </v-col>
    </v-row>
    <v-row align="center">
      <v-col>
        <v-btn to="/resume" block color="primary">
          View Resume
        </v-btn>   
      </v-col>
            <v-col>
        <v-btn to="/resume" block disabled color="info">
          Web Dev Services (coming soon)
        </v-btn> 
      </v-col>

    </v-row>

    </v-container>
    <v-container>
          <v-row class="text-center">
      <contact/>
    </v-row>
    </v-container>
      
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import intro from '~/components/home/intro.vue'
import contact from '~/components/home/contact.vue'

export default {
  components: {
    Logo,
    VuetifyLogo,
    intro,
    contact
  }
}
</script>
