<template>
  <div id="resume">
    <v-container>
      <h1>José Luis De La Torre Salas</h1>
      <h3>Web Developer (FrontEnd and Backend)</h3>
    </v-container>
    <v-divider/>
      <cover/>
    <v-divider/>
      <skills/>
    <v-divider/>
    <div class="hidden-sm-and-down">
      <experience />
    </div>
    <div class="d-md-none">
      <expMobile />
    </div>
    <v-divider/>
    <div class="hidden-sm-and-down">
      <education/>
    </div>
    <div class="d-md-none">
      <eduMobile/>
    </div>

  </div>
</template>

<script>
import experience from '~/components/resume/experience.vue'
import cover from '~/components/resume/cover.vue';
import skills from '~/components/resume/skills.vue'
import expMobile from '~/components/resume/expMobile'
import education from '~/components/resume/education'
import eduMobile from '~/components/resume/eduMobile'
export default {
  components:{
    experience,
    expMobile,
    cover,
    skills,
    education,
    eduMobile
  }
}
</script>

<style>

</style>